  /*line chart*/
  text {
    font-family: "Open Sans", sans-serif;
  }
  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1px;
  }

  #myChart {
    position: absolute;
    bottom: 0;
    right: -8%;
  }

  input.region-input {
    margin-right: 10px;
  }

  p {
    color: white;
    font-size: 14px;
  }

  .label {
    color: white;
    font-size: 14px;
  }


  /*map chart*/


  .tooltip_aqi {
    position: absolute;
    z-index: 9999;
    /*padding: 0;*/
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    text-align: left;
    border-radius: 3px;
    pointer-events: none;
    line-height: 20px;
    /*border: 5px solid red;*/
  }

  .tooltip_map {
    position: absolute;
    z-index: 9999;
    padding: 0;
    color: #000;
    font-size: 13px;
    text-align: left;
    border-radius: 2px;
    pointer-events: none;
  }

  .slider {
    top: -330px;
    left: 30px;
    width: 20%;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(48, 50, 60);
    background: rgba(0,2,8,0.83);
    /*background: rgb(32,36,40);*/
    /*padding: 0 8%;*/
    margin: 0;
    font-weight: 300;
    color: white;
  }

  p {
    /*margin-bottom: 20px;*/
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
  }



  .axis line {
    stroke: rgba(255, 255, 255, 0.5);
  }

  .axis path {
    stroke: rgba(255, 255, 255, 0.5);
  }

  .axis text {
    fill: rgba(255, 255, 255, 0.6);
    font-size: 12px;
  }
  text.legend_2 {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    /*font-weight: bold;*/
    text-anchor: left;
  }

  /*bubble.css*/

  .axis path,
  .axis line {
    fill: none;
    stroke: rgba(255, 255, 255, 0.4);
    shape-rendering: crispEdges;
  }

  .bb_tooltips {
    /*font-family: quicksand;*/
    font-size: 13px;
    line-height: 20px;
    color: white;
  }

  .city-name {
    font-size: 15px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .bb-tt-label {
    font-weight: bold;
  }

  .bb-axis text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
  }


  .custom-dropdown {
    /*width: 100%;*/
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }

  .custom-dropdown select {
    min-width: 150px;
    max-width: 60%;
    background-color: rgba(255, 255, 255, 0.08);
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.9;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0 0 0 5px;
    border-radius: 3px;
    text-indent: 0.5em;
    -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
  }

  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  .custom-dropdown::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    /*line-height: 1;*/
    right: 45%;
    top: 50%;
    margin-top: -.5em;
  }

  .custom-dropdown::after {
    color: rgba(0, 0, 0, .4);
  }

  .tooltip_aqi {
    position: absolute;
    z-index: 9999;
    color: #fff;
    background: rgba(255, 255, 255, 0.25);
    padding: 10px;
    text-align: left;
    border-radius: 3px;
    pointer-events: none;
    line-height: 20px;
  }

  .map_aqi_title {
    font-size: 15px;
    color: #fff;
    margin-bottom: 6px;
  }

  .map_aqi_text {
    font-size: 13px;
    color: #fff;
  }

  .slider {
    top: -15px;
    left: 180px;
    width: 35%;
  }

  .d3-slider {
    position: relative;
    background: linear-gradient(90deg, #2196F3, #FFC107, #FF5722, #F44336);
    z-index: 2;
  }

  .d3-slider-range {
    background: rgba(0, 0, 0, 0);
    /*background: linear-gradient(90deg, #2196F3, #FFC107, #FF5722, #F44336);*/
    left: 0px;
    right: 0px;
    height: 0.8em;
    position: absolute;
  }

  .d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #9B9B9B;
    border-radius: 4px;
    /*background: #eee;*/
    /*background: linear-gradient(to bottom, #eee 0%, #ddd 100%);*/
    /*background: #3F404A;*/
    background: #333C48;
    z-index: 3;
  }
  .d3-slider-horizontal {
      height: .8em;
  }

  .d3-slider-range-vertical {
    background:#2980b9;
    left:0px;
    right:0px;
    position: absolute;
    top:0;
  }

  .d3-slider-vertical {
      width: .8em;
      height: 100px;
  }

  .d3-slider-handle:hover {
      border: 1px solid #999999;
  }

  .d3-slider-horizontal .d3-slider-handle {
      top: -.3em;
      margin-left: -.6em;
  }

  .d3-slider-axis {
      position: relative;
      z-index: 1;
  }

  .d3-slider-axis-bottom {
      top: .8em;
      color: #fff;
  }

  .d3-slider-axis-right {
      left: .8em;
  }

  .d3-slider-axis path {
      stroke-width: 0;
      fill: none;
  }

  .d3-slider-axis line {
      fill: none;
      stroke: #aaa;
      shape-rendering: crispEdges;
  }

  .d3-slider-axis text {
      font-size: 11px;
      stroke: #ddd;
  }

  .d3-slider-vertical .d3-slider-handle {
      left: -.25em;
      margin-left: 0;
      margin-bottom: -.6em;
  }
  /*.line_safe_level{
      background: rgba(255,255,255,0.2);
      padding: 5px;
      border-radius: 4px;
  }*/

  h2 {
    color: white;
    font-size: 16px;
    margin: 0px 0 20px 0;
    font-weight: 300;
  }
  .clearfix{
    width: 100%;
  }
  .clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    position: relative;
    height: 0;
    clear: both;
  }
    /*Checkboxes styles*/

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]+label {
      display: block;
      position: relative;
      padding-left: 35px;

      margin-bottom: 20px;
      font: 14px/20px 'Open Sans', Arial, sans-serif;
      color: #ddd;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }

    input[type="checkbox"]+label:last-child {
      margin-bottom: 0;
    }

    input[type="checkbox"]+label:before {
      content: '';
      display: block;
      width: 17px;
      height: 17px;
      margin-top: 1px;
      /*   border: 1px solid #6cc0e5; */
      background: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      opacity: .6;
      -webkit-transition: all .12s, border-color .08s;
      transition: all .12s, border-color .08s;
    }

    input[type="checkbox"]:checked+label:before {
      width: 7px;
      top: -5px;
      left: 5px;
      border-radius: 0;
      border: 1px solid #6cc0e5;
      background: none;
      opacity: 1;
      border-top-color: transparent;
      border-left-color: transparent;
      -webkit-transform: rotate(45deg);
      transform: rotate(40deg);
    }
